button {
  border: none;
  border-radius: 4px;
  background-color: #0DBFD5;
  color: #0D1117;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

.page-container {
  background-color: white;
  min-height: 100vh;
  font-family: 'Inter';
  color: #0DBFD5;
}

.page-container.dark-mode {
  background-color: #0D1117;
}

.form-container {
  margin-left: 4vw;
  margin-top: 16vh;
  .input-container {
    margin-top: -30px;
    display: grid;
  }
}

.form-title {
  font-size: 35px;
  font-weight: bold;
}

.form-input {
  width: 300px;
  height: 50px;
  background-color: #21262D;
  border: 1px solid;
  border-color: #7A7A7A;
  border-radius: 5px;
  color: #7A7A7A;
  padding-left: 10px;
  font-size: 15px;
}

.button-container {
  margin-top: 40px;
}

.bottom-text {
  position: fixed;
  bottom: 10px;
  left: 4vw;
  color: black;
}

.bottom-text.dark-mode {
  color: white;
}

.error-message {
  display: flex;
  align-items: center;
  height: 10px;
  color: #BF3131;
  margin-top: 10px;
  .error-text {
    margin-left: 10px;
  }
}
