button {
  border: none;
  border-radius: 4px;
  background-color: #0DBFD5;
  color: #0D1117;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #2FA2B9;
}

input[type=text]:focus {
  outline: 1px solid #0DBFD5;
}

input[type=password]:focus {
  outline: 1px solid #0DBFD5;
}

input[type=number]:focus {
  outline: 1px solid #0DBFD5;
}

.page-container {
  background-color: #EEEEEE;
  min-height: 93vh;
  font-family: 'Inter';
  color: #0DBFD5;
}

.page-container.dark-mode {
  background-color: #0D1117;
}

.form-container {
  margin-left: 4vw;
  margin-top: 16vh;
  .input-container {
    margin-top: -30px;
    display: grid;
  }
}

@media (max-width: 500px) {
  .form-container {
    margin-left: 0;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
  }
}

.form-title {
  font-size: 35px;
  font-weight: bold;
}

.form-input {
  width: 300px;
  height: 50px;
  background-color: white;
  border: 1px solid;
  border-color: #7A7A7A;
  border-radius: 5px;
  color: #7A7A7A;
  padding-left: 10px;
  font-size: 15px;
}

.form-input.dark-mode {
  background-color: #21262D;
  border-color: #7A7A7A;
  color: #7A7A7A;
}

.button-container {
  margin-top: 40px;
}

.footer {
  background-color: #EEEEEE;
  height: 7vh;
  display: flex;
  align-items: center;
}

.footer.dark-mode {
  background-color: #0D1117;
}

.bottom-text {
  margin-left: 4vw;
  color: black;
}

.bottom-text.dark-mode {
  color: #d3d0ca;
}

.error-message {
  display: flex;
  align-items: center;
  height: 10px;
  color: #BF3131;
  margin-top: 10px;
  .error-text {
    margin-left: 10px;
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  
}