button {
  border: none;
  border-radius: 4px;
  background-color: #0DBFD5;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

.divider {
  height: 10px;
  transition: height 0.3s ease-in-out;
  background-color: #0DBFD5;
}

.divider.logged-in {
  height: 6px;
}

.nav-bar {
  height: 15vh;
  transition: height 0.3s ease-in-out;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title-container {
    display: flex;
    align-items: center;
  }
  .bc-cancer-logo {
    width: 50px;
    margin-left: 4vw;
  }
  .bc-cancer-logo.logged-in {
    width: 40px;
    margin-left: 4vw;
  }
  .app-name {
    margin-left: 25px;
    font-size: 20px;
  }
}

.nav-bar.logged-in {
  height: 10vh;
}

.nav-bar.dark-mode {
  background-color: black;
}

.sign-out-button {
  font-size: 13px;
  margin: 0;
}

.sign-out-button.dark-mode {
  color: black;
}

.dark-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.dark-scrollbar::-webkit-scrollbar-track {
  background: #0D1117;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}
