.to-line {
  display: flex;
  align-items: center;
  justify-content: start;
}

.from-line {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: start;
}

.from-input {
  height: 50px;
  background-color: #EEEEEE;
  border: 1px solid;
  border-color: #7A7A7A;
  border-radius: 5px;
  color: #7A7A7A;
  padding-left: 10px;
  font-size: 15px;
}

.from-input.dark-mode {
  background-color: #232D3F;
  border-color: #7A7A7A;
  color: #7A7A7A;
}

@media (max-width: 500px) {
  .to-line {
    justify-content: space-between;
  }
  .from-line {
    justify-content: space-between;
    max-width: 97%;
  }
}
